@if(hasCode) { @if (state === "initial") {
<section class="password-reset-section">
  <div class="title">Password Reset</div>
  <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
    <div class="form-control">
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        autocomplete="on"
        placeholder="Enter Password..."
        formControlName="password"
      />
      <small>
        @if(passwordControl.touched && passwordControl.errors?.["required"]) {
        Password is required } @else if(passwordControl.touched &&
        passwordControl.errors?.["minlength"]) { Password is short }
      </small>
    </div>
    <div class="form-control">
      <label for="password">Retype Password: </label>
      <input
        type="password"
        name="password"
        autocomplete="on"
        placeholder="Retype Password..."
        formControlName="retypePassword"
      />
      <small>
        @if(retypePasswordControl.touched &&
        retypePasswordControl.errors?.["required"]) { Password is required }
        @else if (retypePasswordControl.touched &&
        passwordResetForm.errors?.["passwordMatch"]) { Password does not match }
        @else if(passwordResetForm.errors?.["invalid_context"]) { Could not
        reset password }
      </small>
    </div>
    <button type="submit" class="btn" [disabled]="passwordResetForm.invalid">
      Submit
    </button>
  </form>
</section>
} @else if(state === "success") {
<section>
  <div class="container">
    <h1>Password Changed!</h1>
    <p>You can now use your new password.</p>
    <button class="btn" routerLink="/login">Login</button>
  </div>
</section>
} } @else { @if (state === "initial") {
<section class="email-section">
  <div class="title">Password Reset</div>
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <div class="form-control">
      <label for="email">Email: </label>
      <input
        type="text"
        name="email"
        placeholder="Enter Email..."
        formControlName="email"
      />
      <small>
        @if(emailControl.touched && emailControl.errors?.["required"]) { Email
        is required } @else if(emailControl.touched &&
        emailControl.errors?.["email"]) { Invalid e-mail }
        @else if(this.emailControl.errors?.["user_does_not_exist"]) { User does not
        exist }
      </small>
    </div>
    <button type="submit" class="btn" [disabled]="emailForm.invalid || loading">
      Submit @if(loading) {
      <div class="loading"><mat-spinner [diameter]="20"></mat-spinner></div>
      }
    </button>
  </form>
</section>
} @else if (state === 'success') {
<section>
  <div class="container">
    <h1>Email Sent!</h1>
    <p>Please check your email for the password reset link.</p>
    <button class="btn" routerLink="/login">Login</button>
  </div>
</section>
} }
