<section class="login-section">
  <div class="content">
    <div class="title">Start Exchanging</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iste nobis
      eaque quia, nam tempore neque eveniet. Quod odit omnis, repellat, modi
      sit, eaque distinctio recusandae fugiat quo exercitationem alias?
    </p>
    <button routerLink="/login">Login</button>
  </div>
</section>

<section class="register-section">
  <div class="content">
    <div class="title">Register Now!</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iste nobis
      eaque quia, nam tempore neque eveniet. Quod odit omnis, repellat, modi
      sit, eaque distinctio recusandae fugiat quo exercitationem alias?
    </p>
    <button routerLink="/register">Register</button>
  </div>
</section>
